.container_loading {
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: rgb(39, 37, 37);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
}
.text-loading {
  font-size: 2em;
  color: #f2f2f2;
  font-weight: bold;
  letter-spacing: 1px;
  animation: fadein 2s alternate infinite;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  border: 7px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
