@tailwind base;
@tailwind components;
@tailwind utilities;

.mapboxgl-popup-content{
    background-color: #cccccc;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    align-self: center;
    border-left: none;
    border-right-color: #cccccc;
}